@model List<EntityLayer.Entities.Ziyaret>
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ziyaret Raporlama | Ziyaret Edilecek</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/css/bootstrap.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.5.2/css/buttons.bootstrap4.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.2.3/css/responsive.bootstrap4.min.css">
</head>
<body>
    <center><a class="btn btn-primary" href="/AdminRapor/Index">Panele Geri Dön</a></center>

    <table id="example" class="table table-striped table-bordered dt-responsive nowrap" style="width:100%">
        <thead>
            <tr>
                <td>Id</td>
                <td>İsim</td>
                <td>Personel</td>
                <td>Oluşturma Tarihi</td>
                <td>En Son Güncellenme Tarihi</td>
                <td>Konum</td>
                <td>Ziyaret Tarihi</td>
                <td>Şube</td>
                <td>Durum</td>
                <td>Not</td>

            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                if (item.DurumId == 1)
                {

                    <tr>
                        <td>@item.ZiyaretId</td>
                        <td>@item.Name</td>
                        <td>@item.User.Name</td>
                        <td>@item.CreateDate</td>
                        <td>@item.UpdateDate</td>
                        <td>@item.Location</td>
                        <td>@item.ZiyaretDate</td>
                        <td>@item.Sube.Name</td>
                        @if (item.DurumId == 1)
                        {
                            <td style="font-weight:bold">Ziyaret Edilmedi</td>
                        }
                        else if (item.DurumId == 2)
                        {
                            <td>Ziyaret Edildi Onay Bekliyor</td>

                        }
                        else if (item.DurumId == 3)
                        {
                            <td>Ziyaret Onaylanmadı Tekrar Ziyaret Edilecek</td>

                        }
                        else
                        {
                            <td>Ziyaret Onaylandı</td>
                        }
                        <td>@item.Not</td>


                    </tr>
                }

            }

        </tbody>
    </table>
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.2/js/dataTables.buttons.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.bootstrap4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.print.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.colVis.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.2.3/js/responsive.bootstrap4.min.js"></script>
    <script>
        $(document).ready(function () {
            var table = $('#example').DataTable({
                lengthChange: false,
                buttons: ['copy', 'excel', 'csv', 'pdf', 'colvis']
            });

            table.buttons().container()
                .appendTo('#example_wrapper .col-md-6:eq(0)');
        });
    </script>
</body>
</html>
