@model PagedList.IPagedList<EntityLayer.Entities.Fatura>
@using PagedList
@using PagedList.Mvc
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<style>
    .boldyap > td {
        font-weight: bold !important;
    }
</style>
<link href="~/Content/PagedList.css" rel="stylesheet" />
<center><h2>Faturalarım</h2></center>
<br />
<center><a href="/PersonelSatis/Create" class="btn btn-danger">Fatura Kes</a></center>
<br />
@Html.Action("Filtre","PersonelSatis")
<table class="table table-bordered">
    <thead>
        <tr class="boldyap">
            <td>Id</td>
            <td>Fatura Kesim Tarihi</td>
            <td>Fatura Kesen Personel</td>
            <td>Fatura Kesilen Müşteri</td>
            <td>Ürün Adı</td>
            <td>Doviz Tipi</td>
            <td>Doviz Fiyatı</td>
            <td>Fiyatı</td>
            <td>Miktar</td>
            <td>Adet</td>
            <td>Toplam Tutar</td>
            <td>Güncelle</td>
        </tr>
    </thead>

    @foreach (var item in Model)
    {
        if (item.UserId == Convert.ToInt32(Session["userid"]))
        {
            <tr>
                <td>@item.FaturaId</td>
                <td>@item.FaturaKesimTarihi</td>
                <td>@item.User.Name</td>
                <td>@item.Customer.Name</td>
                <td>@item.ProductName</td>
                <td>@item.Doviz.DovizName</td>
                <td>@item.DovizFiyat</td>
                <td>@item.Price</td>
                <td>@item.Miktar</td>
                <td>@item.Adet</td>


                @if (item.DovizId == 1)
                {
                    <td>@item.Toplamtutar ₺</td>
                }
                else if (item.DovizId == 2)
                {
                    <td>@item.Toplamtutar $</td>
                }
                else if (item.DovizId == 3)
                {
                    <td>@item.Toplamtutar €</td>
                }
                <td><a class="btn btn-primary" href="/PersonelSatis/Update/@item.FaturaId">Güncelle</a></td>

            </tr>
        }

    }
</table>
@Html.PagedListPager((IPagedList)Model, sayfa => Url.Action("Index", new { sayfa }))